@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.link {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: rgb(0, 174, 28);
    text-decoration: none;
    cursor: pointer;
}

.link.link-primary{
    color: rgb(0, 174, 28);
}

.link.link-primary.disabled {
    color: rgb(87, 93, 88);
}

.link.link-primary:hover {
    color:rgb(0, 174, 28);
    text-decoration: underline;
}

.link.link-primary:focus {
    color: rgb(12, 213, 43);
    text-decoration: underline;
} 