@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.select-label {
    font-size: 10px;
    font-weight: 700;
}

.select {
    font-size: 15px;
    font-weight: 400;
    width: 88px;
    border-bottom: 1px solid rgb(50, 55, 73);
    padding: 5px 0;
    cursor: pointer;
}

.select-options {
    opacity: 0;
    display: none;
    max-height: 167px;
    overflow-y: scroll;
    margin: 0;
    margin-top: 3px;
    list-style: none;
    padding-left: 0;
    border: 1px solid rgb(222, 224, 229);
    border-radius: 8px;
    box-shadow: 0px 8px 16px 0px rgba(49, 49, 49, 0.1);
    width: 88px;
    transition: .3s;
}

.select-options.visible {
    display: block;
    opacity: 1;
}

.select-option {
    height: 33px;
    padding: 8px;
    cursor: pointer;
}

.select-option:hover {
    background: rgb(246, 246, 246);
}

.select-option:focus {
    background: rgb(227, 227, 227);
}


.select-options::-webkit-scrollbar {
    width: 4px;
}

.select-options::-webkit-scrollbar-track {
    background: #fff;
}

.select-options::-webkit-scrollbar-thumb {
    background: rgb(222, 223, 229);
    border-radius: 10px;
    min-height: 20px; 
}

.select-options::-webkit-scrollbar-thumb:hover {
    background: #555;
}