.weekView {
    width: 90%;
    min-height: 100vh;
    background-color:#fff;
    border-radius: 8px;
    margin: 0 auto;
    margin-top: 30px;
    position: relative;
}


.weekView__header {
    min-height: 70px;
    display: grid;
    grid-template-columns: 70px repeat(7, 1fr);
    border-bottom: 1px solid rgb(222, 223, 229);
    box-shadow: 0px 2px 8px 0px rgb(222, 223, 229);
    background-color:#fff;
    border-radius: 8px 8px 0 0; 
    position: sticky;
    top: 0;
    z-index: 999;
}

.weekday-wrapper {
    width: 100%;
    min-height: 70px;
}

.weekday-event {
    margin-top: 5px;
    width: 100%;
    height: 30px;
    position: relative;
}

.weekday-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    border-right: 1px solid rgb(222, 223, 229);
    border-left: 1px solid rgb(222, 223, 229);
}

.empty-header {
    border-left: none;
}

.weekday-header:last-child {
    border-right: none;
}


.header-today {
    padding-top: 15px;
    width: 95%;
    height: 67px;
    text-align: center;
    border-radius: 8px;
    background: rgb(223, 245, 226); 
    margin: 0 auto;
}

.header-other {
    width: 95%;
    height: 67px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.day {
    font-size: 17px;
    font-weight: 700;
}

.weekday {
    font-size: 10px;
    font-weight: 400;
}

.weekView__wrapper {
    width: calc(100% + 4px);
    height: 80vh;
    display: grid;
    grid-template-columns: 70px 1fr;
    overflow-y: auto; 
    flex-grow: 1;
}

::-webkit-scrollbar {
    width: 5px;
    margin-left: 4px;
}


::-webkit-scrollbar-track {
    background: transparent;
    margin-left: 4px;
}


::-webkit-scrollbar-thumb {
    background: rgb(222, 223, 229);
    border-radius: 3px;
    cursor: pointer;
}


::-webkit-scrollbar-thumb:hover {
    background: rgb(210, 211, 217);
}

.weekView__timestamps {
    display: grid;
    grid-template-rows: repeat(24, 1fr);
    border-right: 1px solid rgb(222, 223, 229);
    width: 70px;
}

.timestamp {
    height: 100%;
    padding-right: 4px;
    text-align: right;
    font-size: 12px;
    font-weight: 400;
    border-bottom:1px solid rgb(222, 223, 229);
    border-top:1px solid rgb(222, 223, 229);
}

.weekdays-content {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(24, 80px);
}

.day-hour {
    border: 1px solid #ddd;
    min-height: 50px;
    position: relative;
}

.day-hour:hover {
    background: rgb(246, 247, 248);
    cursor: pointer;
}

.current {
    background-color: #fff;
}

.other {
    background-color: #f0f0f0;
}